@import url("https://fonts.googleapis.com/css?family=Oxanium|PT+Mono&display=swap");

/////////////////////////////////////////
// COLORS VARIABLES
$color-primary-white: hsl(0, 0%, 100%);
$color-primary: hsl(210, 100%, 56%);
$color-primary-select: hsl(210, 100%, 56%);
$color-primary-success: hsl(115, 98%, 31%);
$color-primary-danger: hsl(0, 81%, 46%);
$color-primary-bg-main: hsl(0, 0%, 91%);
$color-primary-bg-game: hsla(0, 0%, 100%, 0.5);
$color-primary-black: hsl(0, 0%, 0%);
$color-box-shadow: hsla(0, 0%, 0%, 0.5);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'PT Mono', sans-serif;
}