@import url("https://fonts.googleapis.com/css?family=Oxanium|PT+Mono&display=swap");

/////////////////////////////////////////
// COLORS VARIABLES
$color-primary-white: hsl(0, 0%, 100%);
$color-primary: hsl(210, 100%, 56%);
$color-primary-select: hsl(210, 100%, 56%);
$color-primary-success: hsl(115, 98%, 31%);
$color-primary-danger: hsl(0, 81%, 46%);
$color-primary-bg-main: hsl(0, 0%, 91%);