@import url("https://fonts.googleapis.com/css?family=Oxanium|PT+Mono&display=swap");

/////////////////////////////////////////
// COLORS VARIABLES
$color-primary-white: hsl(0, 0%, 100%);
$color-primary: hsl(210, 100%, 56%);