/////////////////////////////////////////
// SPLASH PAGE 
input[type="radio"] {
  opacity: 0;
  width: 100%;
  height: 75px;
  position: relative;
  top: -40px;
  cursor: pointer;
  z-index: 2;
}

.selection-container {
  position: relative;
  top: 65px;
}

.radio-container {
  width: 90%;
  height: 75px;
  margin: 25px;
  cursor: pointer;
  border: 2px solid $color-primary-black;
  border-radius: 5px;
}

label {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 30px;
}

.selected-label {
  background: $color-primary-select;
  color: $color-primary-white;
}

.best-score {
  position: relative;
  top: -100px;
  left: 330px;
  display: flex;
  flex-direction: column;
}