/////////////////////////////////////////
// GAME PAGE 
.height-240 {
  height: 240px;
  width: 100%;
}

.height-500 {
  height: 500px;
  width: 100px;
}

.item-container {
  height: 552px;
  overflow-y: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  display: flex;
}