/////////////////////////////////////////
// GAME PAGE 
.height-240 {
  height: 240px;
  width: 100%;
}

.height-500 {
  height: 500px;
  width: 100px;
}

.item-container {
  height: 552px;
  overflow-y: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 80px;
  margin: 0 50px;
  user-select: none;
}

.finished > h1 {
  opacity: 0.5;
}

.selected-item {
  background: $color-primary-select;
  position: fixed;
  top: 380px;
  z-index: -1;
  width: 529px;
  height: 80px;
}

.item-footer {
  top: 1px;
}

.selection-footer {
  top: 134px;
}

.item-footer,
.selection-footer {
  width: 100%;
  height: 90px;
  background: $color-primary-black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button {
  cursor: pointer;
  height: 50px;
  border-radius: 5px;
  font-size: 25px;
  font-family: 'Oxanium', sans-serif;
}