/////////////////////////////////////////
// CONTAINERS
.game-container {
  border: 1px solid $color-primary-black;
  box-shadow: 0 10px 20px -5px $color-box-shadow;
  width: 530px;
  height: 750px;
  position: relative;
  background: $color-primary-bg-game;
  user-select: none;
  margin-top: 100px;
}

.header {
  background: $color-primary;
  color: $color-primary-white;
  font-family: 'Oxanium', sans-serif;
}