/////////////////////////////////////////
// SCORE PAGE 
.score-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
}

.title {
  font-size: 45px;
}

.final-time {
  font-size: 100px;
  margin: 0;
}